.container{
   
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    
}


.button{
    width: 167px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.link {
    font-size: small;
    text-decoration: none;
}
